<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar><img src="assets/img/icon-menu.png" alt="" class="logo-menu">Menú</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="#" routerLink="/Inicio"><i class="fas fa-home icon-gn"></i> Inicio</a>
            <a mat-list-item href="#" routerLink="/Empleados"><i class="fas fa-users icon-gn"></i> Empleados</a>
            <a mat-list-item href="#" routerLink="/Grupos"><i class="fas fa-layer-group icon-gn"></i> Grupos</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="menu-horizontal">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>examen-zeus</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>