.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu-horizontal {
    background-color: #A52A2A;
}

.logo-menu {
    height: 40px;
    width: 40px;
}